body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Arial;
}

#resetBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#container {
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.square {
  box-sizing: border-box; 
  border: 1px solid #ddd;
}
